<div class="row">
  <div class="col-12" id="aircraftDiv" #aircraftDiv>
    <img class="aircraft-size" src="../../../assets/images/airc.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12 crusierDiv">
    <img  class="cruiser-size" src="../../../assets/images/cru.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12 crusierDiv">
    <img  class="cruiser-size" src="../../../assets/images/cru.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-4 destroyerDiv">
    <img class="destroyer-size" src="../../../assets/images/dest.png" alt="">
  </div>
  <div class="col-4 destroyerDiv">
    <img class="destroyer-size" src="../../../assets/images/dest.png" alt="">
  </div>
  <div class="col-4 destroyerDiv">
    <img class="destroyer-size" src="../../../assets/images/dest.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-3 frigateDiv">
    <img class="frigate-size" src="../../../assets/images/frig.png" alt="">
  </div>
  <div class="col-3 frigateDiv">
    <img class="frigate-size" src="../../../assets/images/frig.png" alt="">
  </div>
  <div class="col-3 frigateDiv">
    <img class="frigate-size" src="../../../assets/images/frig.png" alt="">
  </div>
  <div class="col-3 frigateDiv">
    <img class="frigate-size" src="../../../assets/images/frig.png" alt="">
  </div>
</div>
