.win-lose-display,
.modal-title,
.initgame-text,
.main-title {
  text-align: center;
}

.initgame-text {
  font-weight: bold;
}

.blue-board {
  background-color: rgb(43, 184, 250);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-top: -1px;
  margin-left: -1px;
  width: 6vw;
  height: 9vh;
}

.text-cordinate{
  color: rgba(0, 0, 0, 0.6);
}

.button-difficulty::ng-deep {
  width: 20vw;
}

.button-options::ng-deep {
  width: 25vw;
}

.input-group-size {
  width: 20vw;
}

.font-size {
  font-size: 22px;
}
